<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new task</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/tasks">
        <div class="new">
            <h2>Create new Task</h2>
            Taskname: <input type="text" placeholder="Enter task name" name="name"><br><br>
            Description: <textarea name="description" placeholder="Enter Description"></textarea><br><br>
            <button class="btn">Submit task</button>
        </div>
    </form>
</body>
</html>